.map {
  background-color: #ddd;
  width: 85%;
  margin: 20px auto;
}
.map ul {
  display: flex;
  flex-wrap: wrap;
}
.map ul li {
  width: 50%;
  line-height: 100px;
}
.map ul li.on {
  background-color: #ccc;
}
.weather-info {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #ddd;
  text-align: left;
}
.weather-info ul li {
  line-height: 25px;
}
.safety-tips {
  display: flex;
  justify-content: space-around;
}

.hour-weather {
  margin: 20px 0;
  height: 150px;
}

.week-weather {
  margin: 20px 0;
  height: 150px;
}

/* popup */
.popup-wrap {
  position: fixed;
  top: 0;
  width: 540px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #fff;
  width: 70%;
  height: 450px;
  padding: 20px;
  box-sizing: border-box;
}
.popup-close {
  display: block;
  margin-left: auto;
  margin-right: 10px;
}
.popup ul {
  margin-top: 30px;
}
.popup ul li {
  line-height: 30px;
}
