body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 540px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  overflow-x: hidden;
}

.d-none {
  display: none !important;
}

.md {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.op {
  opacity: 0;
}

img {
  display: block;
}
#wrapper {
  overflow: hidden;
}
#header {
  width: 540px;
  height: 70px;
  background-color: #eee;
}

#header ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#header ul li {
  line-height: 70px;
  flex-grow: 1;
  flex-basis: 0;
}
#header ul li:nth-child(2) {
  flex-grow: 4;
  flex-basis: 0;
}
.logo-btn, .menu-btn, .back-btn {
  cursor: pointer;
}
/* 메뉴창 */
#menu-wrap {
  width: 540px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  opacity: 0;
  z-index: 999;
}

#menu-wrap .menu {
  width: 400px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 540px;
}

#menu-wrap .menu .menu-close {
  display: block;
  width: 100px;
  padding: 30px 0;
  margin-left: auto;
  cursor: pointer;
}

#menu-wrap .menu .menu-list {
  line-height: 50px;
}

#menu-wrap .menu .menu-list li {
  cursor: pointer;
}

#main h2 {
  text-align: left;
  font-size: 1.6rem;
  margin: 30px 0;
}

#main {
  padding: 0 6.7% 13%;
}
