.tab-wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.tab-wrap li {
  padding: 10px 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}

.tab-wrap li.on {
  background-color: #000;
  color: white;
}

.item {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}
.item-img {
  background-color: #eee;
  width: 160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-info {
  width: calc(100% - 160px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.item-info li {
  margin-bottom: 10px;
}
.item-info li:last-child {
  margin-bottom: 0;
}
.item-place-name {
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}
