.map {
  background-color: #ddd;
  background: url(../images/map.png) no-repeat center center;
  background-size: auto 300px;
  width: 100%;
  height: 300px;
  margin: 20px auto;
  position: relative;
}
.map > button {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 23px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
}
.map > button.on {
  background-color: orangered;
  color: #fff;
}
.map button:nth-child(1) {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.map button:nth-child(2) {
  top: 20%;
  right: 5%;
}
.map button:nth-child(3) {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.map button:nth-child(4) {
  top: 30%;
  left: 5%;
}

.weather-info {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #ddd;
  text-align: left;
}
.weather-info h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.weather-info #temp-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.weather-info #temp-wrap #temp-icon {
  width: 11%;
  margin-right: 5px;
}
.weather-info #temp-wrap #temp {
  font-size: 2em;
}

.weather-info #temp-wrap ul {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  line-height: 1.3em;
}

.safety-tips {
  display: flex;
  justify-content: space-around;
}

.hour-weather {
  margin: 20px 0;
  display: flex;
}

.hour-weather li {
  line-height: 1.3em;
}

.hour-weather #hour-title {
  flex: 0 0 auto;
}

.hour-weather #hour-title li:first-child {
  height: 3.9em;
}

#hour-weather-list {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 15px;
}

#hour-weather-list::-webkit-scrollbar {
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
}
#hour-weather-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: orangered;
}

#hour-weather-list ul {
  margin: 0 10px;
}

#hour-weather-list ul li:nth-child(2) {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url(../images/weather/01d.png) no-repeat center center / contain;
}

.week-weather {
  margin: 20px 0;
  height: 150px;
}

/* popup */
.popup-wrap {
  position: fixed;
  top: 0;
  width: 540px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #fff;
  width: 70%;
  height: 450px;
  padding: 20px;
  box-sizing: border-box;
}
.popup-close {
  display: block;
  margin-left: auto;
  margin-right: 10px;
}
.popup ul {
  margin-top: 30px;
}
.popup ul li {
  line-height: 30px;
}
