#course-map {
  position: relative;
}
#course-map img {
  width: 100%;
}

.course-name-wrap {
  margin-top: 10px;
  padding: 5px 5px 10px 5px;
  overflow-x: scroll;
  display: flex;
}
.course-name-wrap::-webkit-scrollbar {
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
}
.course-name-wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #999;
}
.course-btn {
  word-break: keep-all;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  margin-right: 10px;
}

.course-btn.on {
  background-color: orangered;
  color: #fff;
}

.course-btn:nth-child(1) {
  top: 46%;
  left: 24%;
}
.course-btn:nth-child(2) {
  top: 72%;
  left: 22%;
}
.course-btn:nth-child(3) {
  top: 40%;
  left: 65%;
}
.course-btn:nth-child(4) {
  top: 22%;
  left: 56%;
}
.course-btn:nth-child(5) {
  top: 85%;
  left: 36%;
}

#course-info {
  margin-top: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
}

#course-info h3 {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 22px;
}

#info-wrap {
  display: flex;
  justify-content: space-between;
}
#info-wrap > ul {
  border-right: 1px solid #b0b0b0;
  width: 35%;
}
#info-wrap li {
  height: 3em;
  line-height: 1.5;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#info-list-wrap {
  flex-grow: 2;
  display: flex;
  width: 65%;
  justify-content: space-around;
}
