#course-map {
  position: relative;
}
#course-map img {
  width: 100%;
}

.course-name-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.course-btn {
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.course-btn.on {
  background-color: orangered;
  color: #fff;
}

.course-btn:nth-child(1) {
  top: 46%;
  left: 24%;
}
.course-btn:nth-child(2) {
  top: 72%;
  left: 22%;
}
.course-btn:nth-child(3) {
  top: 40%;
  left: 65%;
}
.course-btn:nth-child(4) {
  top: 22%;
  left: 56%;
}
.course-btn:nth-child(5) {
  top: 85%;
  left: 36%;
}

#course-info {
  margin-top: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
}

#course-info h3 {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 22px;
}

#info-wrap {
  display: flex;
  justify-content: space-around;
}

#info-wrap li {
  line-height: 1.5em;
  margin-bottom: 15px;
}
